*{
  color: #f0f6fc;
}
.Name {
  padding-left: 10px;
  font-size: 43.2px;
}
body {
  background-color: #30363d;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #23272e;
  padding-right: 10px;
}
.Portfolio-Button {
  text-decoration: none;
  font-size: 1.2em;
  transition: 1.3s;
}
.About-Button {
  text-decoration: none;
  font-size: 1.2em;
  transition: 1.3s;
}
.Index-Button {
  text-decoration: none;
  font-size: 1.2em;
  transition: 1.3s;
}
.BA {
  text-align: center;
  padding-bottom: 25px;
  border: #30363d solid;
  font-size: 29px;
}
.mash {
  width: 200px;
}
.car {
  height: 355.5px;
}
.Portfolio-Button:hover {
  color: #97999b;
  padding: 10px;
}
.About-Button:hover {
  color: #97999b;
  padding: 10px;
}
.Index-Button:hover {
  color: #97999b;
  padding: 10px;
}
.flex-first {
  display: flex;
}
.holy-grail {
  text-align: center;
}
.footer {
  padding-top: 620px;
  display: flex;
}
.side-bar {
  display: flex;
}
.side-bar2 {
  display: flex;
  flex-direction: row-reverse;
}
.MC {
  font-size: 20px;
}
.submit-button {
  color: black;
  border: 1px black solid;
  width: 7vw;
  padding: 1.5px;
}
.submit-button:hover {
  cursor: pointer;
}
.name-box, .lname-box, .email-box{
  border: 1px black solid;
  color: black;
}
.fname-text, .lname-text, .email-text {
  font-size: 17px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 4px;
}
.ty-msg {
  font-size: 20px;
  padding-bottom: 25px;
  border: #30363d solid;
}